* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 10px;
  font-family: "Mulish", sans-serif; }

.container {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .container {
      width: 100%;
      margin: 0 auto; } }

.active {
  font-weight: bold;
  position: absolute;
  top: 0;
  left: -10%;
  width: 120%;
  height: 50px;
  background-color: #458ff6;
  z-index: -1;
  border-radius: 20px;
  padding: 8px 15px;
  color: #fff !important; }

.line {
  width: 30px;
  background-color: black;
  margin: 2rem auto 0 auto;
  height: 2px; }

.testimonial--line {
  background-color: #fff; }

.servicess--btn,
.healthcare--btn,
.media--btn {
  padding: 10px 15px;
  color: #fff;
  margin-top: 1rem;
  font-size: 1rem;
  background: #458ff6;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all .3s ease-in;
  background-color: white;
  border: 1px solid #458ff6;
  color: #458ff6;
  margin: 3rem auto;
  padding: 10px 20px; }
  .servicess--btn:hover,
  .healthcare--btn:hover,
  .media--btn:hover {
    opacity: .7; }

.healthcare--line,
.media--line {
  text-align: left;
  margin: 2rem 0; }
  @media only screen and (max-width: 1200px) {
    .healthcare--line,
    .media--line {
      margin: 1rem auto; } }

.dots--first {
  position: absolute;
  top: 0;
  right: 0; }

.dots--second {
  position: absolute;
  bottom: 0;
  left: 0; }

.actions {
  margin: 4rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 17rem; }
  .actions span {
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50px;
    background-color: #5B9BF3;
    margin: 0 0.5rem;
    display: inline-block;
    opacity: 0.5; }

.arrow {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #5B9BF3; }

.dot--active {
  opacity: 1 !important; }

.box {
  width: 100%; }

.circle-2 {
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 50%;
  position: relative;
  margin-right: 1rem; }
  .circle-2 h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #458ff6; }

.links-active {
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  margin: 4rem 0; }
  .links-active a {
    font-weight: bold;
    color: #fff !important;
    font-size: 1rem !important; }

.nav-active {
  position: fixed;
  top: 0;
  left: 0;
  height: 150vh;
  width: 100%;
  z-index: 1;
  background-color: #5B9BF3;
  overflow: hidden; }

.blue-link {
  top: 2% !important; }
  .blue-link h1 {
    color: #fff !important; }

.header {
  position: relative; }
  .header__dots {
    position: absolute;
    top: 30%;
    left: -13%; }
  .header__link {
    transition: all 0.3s ease;
    text-decoration: none !important;
    display: block; }
    @media only screen and (max-width: 992px) {
      .header__link {
        position: absolute;
        top: 4%;
        left: 10%; } }
    .header__link:hover {
      opacity: 0.5; }
  .header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0; }
  .header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    position: relative; }
    @media only screen and (max-width: 992px) {
      .header ul {
        display: none; } }
  .header .hamburger {
    width: 30px;
    display: none; }
    @media only screen and (max-width: 992px) {
      .header .hamburger {
        margin-left: auto;
        display: inline-block;
        position: absolute;
        top: 5%;
        right: 10%;
        z-index: 5; } }
    .header .hamburger span {
      display: block;
      margin: 0.4rem;
      height: 3px;
      border-radius: 6px;
      width: 100%;
      background-color: black; }
  .header li {
    cursor: pointer;
    position: relative; }
  .header .header__href {
    font-size: 1rem;
    color: black;
    text-decoration: none;
    margin: 0 1rem;
    transition: all 0.3s ease-in;
    position: relative;
    color: black; }
    .header .header__href:hover {
      color: #fff;
      font-weight: bold; }
    .header .header__href::before {
      content: "";
      position: absolute;
      top: -45%;
      left: -10%;
      width: 120%;
      height: 40px;
      background-color: #458ff6;
      transform: scale(0);
      z-index: -1;
      border-radius: 20px;
      padding: 12px 25px; }
    .header .header__href:hover::before {
      transition: all 0.3s ease-in;
      transform-origin: center;
      transform: scale(1); }
  .header .circle {
    width: 3rem;
    height: 3rem;
    background: #458ff6;
    border-radius: 50%;
    position: relative;
    margin-right: 1rem; }
  .header .circle h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 1.5rem;
    transform: translate(-50%, -50%); }
  .header .full-circle {
    display: flex;
    align-items: center; }
  .header main {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 1200px) {
      .header main {
        flex-direction: column; } }
  @media only screen and (max-width: 1200px) {
    .header .main__left {
      margin: 0 auto; } }
  @media only screen and (max-width: 576px) {
    .header .main__left {
      width: 80%; } }
  @media only screen and (max-width: 1200px) {
    .header .main__right {
      margin: 0 auto;
      text-align: center; } }
  .header .main__left h1 {
    margin-top: 4rem;
    font-size: 3rem;
    width: 25rem;
    font-weight: bold; }
    @media only screen and (max-width: 576px) {
      .header .main__left h1 {
        font-size: 1.5rem;
        text-align: center;
        width: 100%; } }
  .header .main__left p {
    font-size: 1rem;
    margin-top: 2rem;
    letter-spacing: 0.5px;
    width: 25rem;
    color: #7d7987; }
    @media only screen and (max-width: 576px) {
      .header .main__left p {
        font-size: 0.8rem;
        text-align: center;
        width: 100%; } }
  .header .main--btn {
    padding: 10px 15px;
    color: #fff;
    margin-top: 1rem;
    font-size: 1rem;
    background: #458ff6;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all .3s ease-in; }
    .header .main--btn:hover {
      opacity: .7; }
    @media only screen and (max-width: 1200px) {
      .header .main--btn {
        display: block;
        margin: 0 auto 4rem auto; } }
  .header .main__right img {
    width: 500px; }
    @media only screen and (max-width: 1200px) {
      .header .main__right img {
        width: 300px; } }

.services {
  margin: 0 auto;
  position: relative; }
  .services__text {
    margin: 2rem auto;
    width: 60%;
    color: #7d7987;
    font-size: 0.8rem; }
  .services__title {
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem; }
  .services__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    width: 60%;
    margin: 2rem auto; }
  .services__box {
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 3px 1px -5px rgba(0, 0, 0, 0.1); }
    .services__box img {
      height: 70px;
      object-fit: cover; }
      @media only screen and (max-width: 1200px) {
        .services__box img {
          margin: 0 auto;
          display: block; } }
    .services__box h2 {
      font-weight: bold;
      font-size: 1rem;
      margin-top: 0.8rem; }
      @media only screen and (max-width: 1200px) {
        .services__box h2 {
          text-align: center; } }
    .services__box p {
      color: #7d7987;
      font-size: 0.7rem;
      margin-top: 1rem; }
      @media only screen and (max-width: 1200px) {
        .services__box p {
          text-align: center; } }
  .services__shape {
    position: absolute;
    top: -20%;
    left: -20%;
    z-index: -1;
    width: 40rem; }
    @media only screen and (max-width: 576px) {
      .services__shape {
        width: 20rem; } }
  .services__dots {
    position: absolute;
    top: 50%;
    right: 20%; }
  .services__button {
    text-align: center; }

.healthcare {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 1200px) {
    .healthcare {
      flex-direction: column; } }
  .healthcare__logo {
    width: 500px; }
    @media only screen and (max-width: 1200px) {
      .healthcare__logo {
        width: 300px;
        margin-bottom: 2rem; } }
  .healthcare__info {
    margin-left: 5rem; }
    @media only screen and (max-width: 1200px) {
      .healthcare__info {
        text-align: center;
        margin: 0; } }
  .healthcare__text {
    color: #7d7987;
    font-size: 0.8rem;
    width: 70%; }
    @media only screen and (max-width: 1200px) {
      .healthcare__text {
        margin: 0 auto; } }
  .healthcare__title {
    font-size: 2rem; }

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem; }
  @media only screen and (max-width: 1200px) {
    .media {
      flex-direction: column; } }
  .media__logo {
    width: 500px; }
    @media only screen and (max-width: 1200px) {
      .media__logo {
        width: 300px; } }
    @media only screen and (max-width: 476px) {
      .media__logo {
        width: 240px; } }
  .media__info {
    margin-right: 5rem; }
    @media only screen and (max-width: 1200px) {
      .media__info {
        margin: 0 auto;
        text-align: center; } }
  .media__text {
    color: #7d7987;
    font-size: 0.8rem;
    width: 70%; }
    @media only screen and (max-width: 1200px) {
      .media__text {
        margin: 1rem auto; } }
  .media__title {
    font-size: 2rem; }

.testimonial {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  color: #fff;
  padding: 10px;
  margin: 4rem 0;
  position: relative; }
  .testimonial > h1 {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem; }
    @media only screen and (max-width: 476px) {
      .testimonial > h1 {
        font-size: 1.2rem; } }
  .testimonial__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center; }
    @media only screen and (max-width: 1200px) {
      .testimonial__box {
        grid-template-columns: 1fr; } }
  .testimonial__left {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 476px) {
      .testimonial__left {
        margin-bottom: 2rem; } }
    .testimonial__left h1 {
      font-weight: bold;
      font-size: 1.4rem; }
    @media only screen and (max-width: 476px) {
      .testimonial__left img {
        width: 100px; } }
  .testimonial__describtion {
    margin-left: 1rem; }
    @media only screen and (max-width: 476px) {
      .testimonial__describtion {
        margin-top: 1rem; } }
  .testimonial__quote {
    font-size: 0.8rem;
    width: 70%;
    letter-spacing: 0.5px; }
    @media only screen and (max-width: 1200px) {
      .testimonial__quote {
        margin: 0 auto;
        font-size: 0.6rem; } }

.treatment {
  position: relative; }
  .treatment__title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem; }
  .treatment__photo {
    background-position: center;
    background-size: cover;
    height: 200px;
    max-height: 200px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: all 0.3s ease-in-out; }
    .treatment__photo--1 {
      background-image: url("../../images/needle.png"); }
    .treatment__photo--2 {
      background-image: url("../../images/microscope.png"); }
    .treatment__photo--3 {
      background-image: url("/images/mask.png"); }
  .treatment__photo:hover {
    transform: scale(1.2); }
  .treatment__container {
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 476px) {
      .treatment__container {
        flex-direction: column; } }
  .treatment__box {
    margin: 0 1rem;
    width: auto;
    overflow: hidden; }
  .treatment__box-title {
    padding-top: 3rem;
    font-weight: bold;
    font-size: 1.3rem;
    width: 80%; }
  .treatment__box-info {
    color: #7d7987;
    font-size: 0.8rem; }
  .treatment__link {
    color: #458ff6;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 0;
    transition: all 0.3s ease-in;
    display: block; }
    .treatment__link:hover {
      text-decoration: none;
      transform: translateX(10px); }
  .treatment__btn {
    padding: 10px 15px;
    color: #fff;
    margin-top: 1rem;
    font-size: 1rem;
    background: #458ff6;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all .3s ease-in;
    padding: 8px 26px;
    background-color: #fff;
    border: 1px solid #458ff6;
    display: block;
    margin: 3rem auto;
    color: #458ff6; }
    .treatment__btn:hover {
      opacity: .7; }
  @media only screen and (max-width: 576px) {
    .treatment__describtion {
      margin-bottom: 2rem; } }
  .treatment__circle {
    position: absolute;
    top: -20%;
    right: -14%;
    z-index: -1; }
    @media only screen and (max-width: 1200px) {
      .treatment__circle {
        right: 0; } }
  .treatment__dots {
    position: absolute;
    top: 0;
    left: -14%;
    z-index: -1; }
  .treatment__line {
    margin-bottom: 1rem; }

.footer {
  background: #5B9BF3;
  padding: 100px 0;
  color: #fff;
  position: relative; }
  .footer__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 576px) {
      .footer__container {
        flex-direction: column;
        width: 100%;
        justify-content: center; } }
  .footer__row {
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 576px) {
      .footer__row {
        text-align: center; } }
    .footer__row h1 {
      font-weight: bold;
      font-size: 1.1rem;
      margin-bottom: 0.7rem; }
    .footer__row p {
      opacity: 0.7;
      font-size: 0.8rem; }
  .footer__long-text {
    width: 60%; }
  .footer--first-row {
    width: 30%; }
    @media only screen and (max-width: 576px) {
      .footer--first-row {
        width: 50%; } }
  .footer--long-text {
    opacity: 1;
    margin-top: 1rem;
    width: 130%; }
  .footer--dots-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(90deg); }
  .footer--dots-2 {
    position: absolute;
    top: -10%;
    right: 0; }
  .footer a {
    color: #fff;
    transition: all 0.3s ease-in; }
    .footer a:hover {
      text-decoration: none;
      opacity: 0.7; }
  .footer .full-circle-2 {
    display: flex;
    align-items: center; }
    .footer .full-circle-2 h1 {
      margin: 0; }
