
@mixin button {
    padding: 10px 15px;
    color: #fff;
    margin-top: 1rem;
    font-size: 1rem;
    background: #458ff6;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
  }