.header {
  position: relative;

  &__dots {
    position: absolute;
    top: 30%;
    left: -13%;
  }
  &__nav {
    margin-top: 0.5rem;
  }
  &__link {
    transition: all 0.3s ease;
    text-decoration: none !important;
    display: block;
    @media only screen and (max-width: 992px) {
      position: absolute;
      top: 4%;
      left: 10%;
    }
    &:hover {
      opacity: 0.5;
    }
  }

  main {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    margin-top: 5rem;
    @media only screen and (max-width: 1200px) {
      flex-direction: column;
      margin-top: 0;
    }
  }
  .main__left {
    @media only screen and (max-width: 1200px) {
      margin: 2rem auto;
    }
    @media only screen and (max-width: 576px) {
      width: 80%;
    }
  }

  .main__right {
    @media only screen and (max-width: 1200px) {
      margin: 0 auto;
      text-align: center;
    }
  }
  .main__left h1 {
    margin-top: 4rem;
    font-size: 3rem;
    width: 25rem;
    font-weight: bold;
    @media only screen and (max-width: 576px) {
      font-size: 1.5rem;
      text-align: center;
      width: 100%;
    }
  }
  .main__left p {
    font-size: 1rem;
    margin-top: 2rem;
    letter-spacing: 0.5px;
    width: 25rem;
    color: $gray-primary;
    @media only screen and (max-width: 576px) {
      font-size: 0.8rem;
      text-align: center;
      width: 100%;
    }
  }
  .main--btn {
    @include button;
    @media only screen and (max-width: 1200px) {
      display: block;
      margin: 0 auto 4rem auto;
    }
  }
  .main__right img {
    width: 500px;
    @media only screen and (max-width: 1200px) {
      width: 300px;
    }
  }
}
