.media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  &__logo {
    width: 500px;
  }
  &__info {
    margin-right: 5rem;
  }
  &__text {
    color: $gray-primary;
    font-size: 0.8rem;
    width: 70%;
  }
  &__title {
    font-size: 2rem;
  }
}
