.testimonial {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  color: #fff;
  padding: 10px;
  margin: 4rem 0;
  position: relative;
  & > h1 {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    @media only screen and (max-width: 476px) {
      font-size: 1.2rem;
    }
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    @media only screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
    }
  }
  &__left {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 476px) {
      margin-bottom: 2rem;
    }

    h1 {
      font-weight: bold;
      font-size: 1.4rem;
    }
    img {
      @media only screen and (max-width: 476px) {
        width: 100px;
      }
    }
  }
  &__describtion {
    margin-left: 1rem;
    @media only screen and (max-width: 476px) {
      margin-top: 1rem;
    }
  }
  &__quote {
    font-size: 0.8rem;
    width: 70%;
    letter-spacing: 0.5px;
    @media only screen and (max-width: 1200px) {
      margin: 0 auto;
      font-size: 0.6rem;
    }
  }
}
