* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 10px;
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.container {
  width: 80%;
  margin: 0 auto;
  @media only screen and (max-width: 1200px) {
    width: 100%;
    margin: 0 auto;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: auto;
  background-color: rgb(156, 191, 214);
}

::-webkit-scrollbar-thumb {
  width: 12px;
  background-color: $blue-secondary;
  border-radius: 20px;
  opacity: 0.4;
  border: 1px solid #fff;
}
